{% extends "auctions/layout.html" %}

{% block body %}
    <h2><strong>Categories</strong></h2>
        <div class="ms-4 me-4">
            {% for category in categories %}
            <div class="p-3 rounded-5">
                    <a href="categories/{{ category.0 }}" class="nounderline">
                        <h3><strong>{{ category.1 }}</strong></h3>
                    </a>
            </div>

            {% empty %}
                <div class="d-flex justify-content-center text-danger">
                    <h3>There is no listing To Show!</h3>
                </div>
            {% endfor %}
        </div>
{% endblock %}